<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Devfile Configurator</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap"
  rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/devfile.css">
  <link rel="stylesheet" href="/static/css/devfile_sidebar.css">
  <link rel="stylesheet" href="/static/css/devfile_repositories.css">
  <link rel="stylesheet" href="/static/css/devfile_resources.css">
  <link rel="stylesheet" href="/static/css/devfile_components.css">
  <link rel="stylesheet" href="/static/css/devfile_commands.css">
  <link rel="stylesheet" href="/static/css/devfile_events.css">
  <link rel="stylesheet" href="/static/css/devfile_output.css">
  <link rel="stylesheet" href="/static/css/devfile_templates.css">
</head>

<body>

  {% include '_navbar.html' %}

  <div class="main">
    {% include '_devfile_sidebar.html' %}

    <div class="content">
      {% include '_devfile_section_repositories.html' %}
      {% include '_devfile_section_resources.html' %}
      {% include '_devfile_section_components.html' %}
      {% include '_devfile_section_commands.html' %}
      {% include '_devfile_section_events.html' %}
      {% include '_devfile_section_output.html' %}
      {% include '_devfile_section_import.html' %}
      {% include '_devfile_section_templates.html' %}
    </div>
  </div>

  <input type="file" id="file-input" accept=".yaml,.yml" style="display:none">

  <!-- Unregister any previously installed Service Worker (sw.js is no longer used) -->
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistrations().then(regs => {
        regs.forEach(reg => reg.unregister());
      });
    }
  </script>

  <!-- Bridge Jinja2 template variables into the static JS module -->
  <script>
    window.DEVFILE_CONFIG = {
      predefinedRepos: {{ predefined_repos | tojson }},
    predefinedConfigs: {{ predefined_configs | tojson }},
    predefinedCommands: {{ predefined_commands | tojson }},
    componentCatalog: {{ component_catalog | tojson }},
  };
  </script>

  <!-- js-yaml must load before devfile.js since it's a module that references jsyaml on window -->
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
  <script type="module" src="/static/js/script.js"></script>

</body>

</html>